body{
    background-color: antiquewhite;
    color: rgb(205, 1, 1);
    padding: 18px 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
}
img{
    height: 52px;
    width: 52px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 39px;
    line-height: 1 px ;
}
.btn{
    border-radius: 12px;
    color: rgb(123, 114, 183);
    font-family: coiny;
    background-color: rgb(226, 222, 222);
    font-size: 16px;
    text-transform:uppercase;
    padding: 5px 5px;
    border: none;
    cursor:pointer;
    transition: .3s;
    background-image: linear-gradient(130deg, rgb(82, 82, 226),  red ,rgb(18, 153, 18), rgb(166, 166, 65));
}
.btn :hover {
    transform:scale(100%) rotate(-2deg)  ;
}